<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alleyway Alliance Add Book</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">



    <!-- Custom styles for this template -->
    <link href="/css/navbar-static.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Alleyway Alliance Library Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/catalog}">Catalog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('USER')" aria-current="page" th:href="@{/hold}">Holds</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ADMIN')" aria-current="page" th:href="@{/checkout}">Checkouts</a>
                </li>


            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:if="'anonymousUser' == ${#authentication.name}"  th:href="@{/login}">Log in</a>
                </li>
                <li  class="nav-item" >
                    <a class="nav-link" th:href="@{'/account/'+ ${#authentication.name}}" th:text="${#authentication.name}">NAME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Book Add Page</h1>
        <form method="post" th:object="${bookForm}">
            <div class="mb-3">
                <label for="title" class="form-label">Title Name</label>
                <input class="form-control" id="title" th:field="*{title}">
                <div style="color: red" class="form-text" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    Title Error
                </div>
            </div>

            <div class="mb-3">
                <label for="allowedAge" class="form-label">Allowed Age</label>
                <input class="form-control" id="allowedAge" th:field="*{allowedAge}">
                <div style="color: red" class="form-text" th:if="${#fields.hasErrors('allowedAge')}" th:errors="*{allowedAge}">
                    Allowed Age Error
                </div>
            </div>
            <div class="mb-3">
                <label>Category</label>
                <select name="category" class="form-select" aria-label="Select category">
                    <option th:each="el : ${categoryList}" th:value="${el.id}" th:text="${el.categoryName}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label>Genre</label>
                <select name="genre" class="form-select" aria-label="Select genre">
                    <option th:each="el: ${genreList}" th:value="${el.genreId}" th:text="${el.name}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label>Author</label>
                <select name="authorId" id="authorId"  class="form-select" aria-label="Select author">
                    <option th:each="el : ${authorList}" th:value="${el.id}" th:text="${el.name}"></option>
                </select>
            </div>

            <div id="author" style="display: none" class="mb-3">
                <label for="authorsName" class="form-label">Author Name</label>
                <input class="form-control" id="authorsName" th:field="${authorForm.name}">
            </div>

            <input class="form-check-input" name="action" type="checkbox" value="true" id="flexCheckIndeterminate">
            <label class="form-check-label" for="flexCheckIndeterminate">
                Use existing Author?
            </label>
            <br>
            <span style="color: red" th:if="${errors} != null" th:text="${errors}"></span>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <button id="toggle" class="btn btn-primary">Add New Author</button>
    </div>
</main>

<script>
    const btn = document.getElementById('toggle');

    btn.addEventListener('click', () => {
        const form = document.getElementById('author');

        if (form.style.display === 'none') {
            //  this SHOWS the form
            form.style.display = 'block';
        } else {
            //  this HIDES the form
            form.style.display = 'none';
        }
    });
</script>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>