<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alleyway Alliance User Checkout</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/navbar.css" rel="stylesheet">



  <!-- Custom styles for this template -->
  <link href="/css/navbar-static.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Alleyway Alliance Library Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/catalog}">Catalog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" sec:authorize="hasRole('USER')" aria-current="page" th:href="@{/hold}">Holds</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" sec:authorize="hasRole('ADMIN')" aria-current="page" th:href="@{/admin}">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" sec:authorize="hasRole('ADMIN')" aria-current="page" th:href="@{/checkout}">Checkouts</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:if="'anonymousUser' == ${#authentication.name}"  th:href="@{/login}">Log in</a>
        </li>
        <li  class="nav-item" >
          <a class="nav-link" th:href="@{'/account/'+ ${#authentication.name}}" th:text="${#authentication.name}">NAME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAuthenticated()" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Checkouts</h1> <br>


    <table  class="table table-striped table-bordered">
      <tr>
        <th>ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Is Returned</th>
        <th>Book copy ID</th>
        <th>Patron Account ID</th>
        <th>Book Copies</th>
        <th>Patron Account</th>
        <th>Return Flag</th>
      </tr>
      <tr th:each="el : ${checkList}">
        <td th:text="${el.id}"></td>
        <td th:text="${el.startDate}"></td>
        <td th:text="${el.endDate}"></td>
        <td th:text="${el.isReturned}"></td>
        <td th:text="${el.bookId}"></td>
        <td th:text="${el.patronAccountId}"></td>
        <td>
          <div th:text="${copy.id}" th:each="copy : ${el.bookCopies}">

          </div>
        </td>
        <td>
          <div th:text="${account.firstName}" th:each="account : ${el.patronAccount}">

          </div>
        </td>
        <td>
          <form action="/checkout/user" method="post">
          <div class="form-check">
            <input class="form-check-input" name="returnFlag" type="checkbox" value="true" id="flexCheckIndeterminate">
            <input type="hidden" name="copyId" th:value="${el.bookId}">
            <input type="hidden" name="action" value="alter">
            <label class="form-check-label" for="flexCheckIndeterminate">
              Returned?
            </label>
            <button type="submit">Alter</button>
          </form>
          </div>
        </td>

      </tr>
    </table>



  </div>
</main>


<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>